 
@font-face{
  font-family: Simple-Line-Icons;
  src: url(../fonts/Simple-Line-Icons.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: Aqua-Grotesque;
  src: url(../fonts/Aqua-Grotesque.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: supermarket;
  src: url(../fonts/supermarket.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: THSarabun;
  src: url(../fonts/THSarabun.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: THSarabun-Bold;
  src: url(../fonts/THSarabun-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}  

/*html {
  scroll-behavior: smooth;
}*/
.none-pad{
  padding: 0px 0px 0px 0px !important;
} 
.none-pad-r{
  padding: 0px 5px 0px 0px !important;
} 
.none-pad-l{
  padding: 0px 0px 0px 5px !important;
} 
.none-right{
  margin-right: -15px;
} 
.none-left{
  margin-left: -15px;
} 

.dropdown:hover>.dropdown-menu {
  display: block;
}
 
.navbar-toggler-left .fa-bars{
  color: #fff !important;
}
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }
  .none-xs{
    padding: 0px 0px 0px 0px !important;
  }   
  .menu{
    display: none;
  }
  .menu{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1030;
    background-color: #fff;
  }
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  } 

}

a:hover{
  text-decoration: none;
}
/*.banner {
  height: 100vh;
}*/ 


nav{  
  background: url(../images/bg-menu.webp);
  background-position: center center;
  background-repeat: no-repeat; 
}

nav .navbar-collapse{
  background-color: #323232; 
}

nav .navbar-nav .nav-item .nav-link{ 
  font-family: supermarket;
  color: #e8e8e8;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
}
nav .navbar-nav .nav-item.active .nav-link{  
  color: #fff;
  transition: box-shadow .3s ease-out;
}
nav .navbar-nav .nav-item:hover .nav-link{  
  color: #fff;
  transition: box-shadow .3s ease-out;
}



nav .order-2{
  position: absolute;
  right: 0;
  margin-right: 7%;
  margin-top: 13px;
}

.top-x{
  position: absolute;
  top: 0;  
  right: 0; 
}
.top-x .icon-home{
  height: 25px;
  width: 25px;
}
.top-x .rl{ 
  color: #000000;
  font-family: supermarket;
  font-size: 16px;
}
.top-x .rl:after{
  content: "|"; 
  margin-right: 5px;
  margin-left: 5px;
}
.top-x .cout{
  height: 18px; 
  margin-right: 10px;
} 

nav .order-2 form input{
  background-color: #000000; 
  border-radius: 0px;
  height: 40px;
  padding-left: 35px;
  font-family: supermarket;
  color: #fff;
  border: 1px solid #000000;
  background-clip: unset;
}
nav .order-2 form i.fa-search{ 
  margin-top: -20px;
  float: left;
  color: #fff;
  position: absolute;
  margin-top: 0px;
  margin-left: 10px;
}
nav .order-2 form input[type="text"]:focus{
  background: #323232;
  color: #fff; 
}
.text-cented{
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-family: supermarket;
  font-size: 6vw;
  color: rgba(198,198,198,.21);
  line-height: 110%;
}
.text-cented span{ 
  font-family: Aqua-Grotesque;
}

.m-body{ 
  background: url(../images/BG.webp);
  background-position: center center;
  background-repeat: no-repeat; 
}

.box1{
  margin-top: 10px; 
  background-color: #242c31;
}

.box1 .r1 h3{ 
  font-family: supermarket;
  color: #fff;
  font-size: 30px;

}
.box1 .r1 p{ 
  font-family: supermarket;
  color: #fff;
  text-align: justify-all; 
  margin-top: 15px;
}
.more{
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 15px;
  margin-right: 25px; 
  background-color: #d3d5d6;
  border-radius: 8px;
  color: #000;
  text-transform: uppercase;
  font-family: Aqua-Grotesque;  
  font-weight: bold;
}
.more:hover{ 
  background-color: #fff; 
  transition: box-shadow .3s ease-out;
  color: #000;
}

.more-m{
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 4px 12px 0px 12px;
  background-color: #d3d5d6;
  border-radius: 30px;
  color: #000;
  text-transform: uppercase;
  font-family: Aqua-Grotesque;
  font-size: 14px;
  font-weight: bold;
}
.more-m:hover{ 
  background-color: #fff; 
  transition: box-shadow .3s ease-out;
  color: #000;
}
.box2{   
  margin-bottom: 15px;
}

.box2 img{  
  border-radius: 15px;
}

.box2 .bm{
  background-color: rgba(0,0,0,.6);
  height: 140px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 15px 15px;
  padding: 10px 10px;
}
.box2 .bm:hover{
  background-color: rgba(0,0,0,.8); 
  transition: box-shadow .3s ease-out;
  cursor: default;
}
.box2 .bm h3{
  text-align: center; 
}
.box2 .bm h3 a{ 
  color: #fff;
  font-family: supermarket;
}
.box2 .bm p{ 
  color: #fff;
  font-family: supermarket;
  font-size: 20px;
}

.box3 h3{
  color: #242c31; 
  font-family: supermarket;
  font-size: 36px;
  border-left: 2px solid #242c31;
  border-bottom: 2px solid #242c31;
  padding: 0px 0px 5px 10px; 
  margin-bottom: 10px;
}



.box4 h3{
  color: #242c31; 
  font-family: supermarket;
  font-size: 36px;
  border-left: 2px solid #242c31;
  border-bottom: 2px solid #242c31;
  padding: 0px 0px 5px 10px; 
  margin-bottom: 10px;
}



.m-box4{
  background: url(../images/bg-sl.png);
  background-position: top center;
  background-repeat: no-repeat; 
}
.m-box4 h2{
  color: #fff; 
  font-family: supermarket; 
}
.m-box4 p{
  color: #fff; 
  font-family: supermarket; 
}
.f-1{
  background-color: #8a8c91;
  padding-top: 5px !important;
  padding-bottom: 15px !important; 
}
.f-2{
  background-color: #37383c;
  padding: 5px; 
}
.f-3{
  background-color: #8a8c91;
  padding: 5px;
  line-height: 32px;
  min-height: 30px;
  text-align: center;
  color: #fff;
  font-family: THSarabun;
}
footer .gy{
  filter: grayscale(100%); 
  display: inline;
  margin-right: 30px;
}
footer .gy:hover{
  filter: grayscale(0%);  
  transition: box-shadow .3s ease-out;
}
footer .mapx-text{
  color: #fff; 
  font-family: supermarket;
  font-size: 34px;
  display: inline;
}
footer .ss-x{
  font-family: THSarabun-Bold;
  text-transform: uppercase;
  color: #bebebe;
  font-size: 40px;
  padding-left: 30px;
  cursor: default;  
  padding-top: 5px;
}

footer .ss-x{
  font-family: THSarabun-Bold;
  text-transform: uppercase;
  color: #bebebe;
  font-size: 40px;
  padding-left: 30px;
  cursor: default; 
  margin-bottom: -30px;
  padding-top: 5px;
}
footer .ss{
  margin-left: 5px;
  margin-right: 5px; 
}

footer .f-2 h2{
  color: #fff; 
  font-family: supermarket;
  text-align: left;
  font-size: 24px;
}
footer .f-2 ul{
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}
footer .f-2 ul.m-list li{
 
}
footer .f-2 ul.m-list li a{
  color: #dcdcdc; 
  font-family: supermarket; 
  font-size: 18px;
  line-height: 30px;
}
footer .f-2 ul.m-list li a:hover{
  color: #fff;  
}


footer .f-2 .bb1 span{ 
  text-align: center;
  color: #fff; 
  font-family: supermarket; 
  font-size: 24px;
  background-color: #212224;
  border-radius: 12px;
  padding: 0px 30px;
  border: 1px solid #fff;
}
footer .f-2 .bb2 a{
  text-align: left;
  color: #fff; 
  font-family: supermarket; 
  font-size: 24px;
}


@media only screen and (max-width: 991px) { /* MOBILE */
  .h-line{
    background-color: #242c31;   
    border-radius: 8px;
    font-family: supermarket;
    text-align: center;
    font-size: 28px;
    color: #fff;  
    padding: 0px 0 0 15px;
  }
  .h-line:after{
    content: "";
    position: absolute;
    border-bottom: 2px solid #fff;
    bottom: 0;
    right: 0;
    margin-bottom: 40px;
    width: 20%;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .h-line:before{
    content: "";
    position: absolute;
    border-bottom: 2px solid #fff;
    bottom: 0;
    left: 0;
    margin-bottom: 40px;
    width: 20%;
    margin-left: 20px;
    margin-bottom: 15px;
  }
  .box1 .r1{ 
    padding: 15px 15px 35px 25px;
  }
  .box1 .l1 img{ 
    border-radius: 8px 8px 0 0 ; 
  }
  .box1 .r1 p{  
    font-size: 16px; 
  }
  .more{ 
    font-size: 14px;
    padding: 4px 12px 0px 12px; 
  }
  .box3 h3{ 
    width: 100%; 
  }
  .box4 h3{ 
    width: 100%; 
  }
  .box4-1{
    width: 100% !important;
  }
  .box4-2{
    width: 100%; 
  }
  .m-box4 h2{ 
    font-size: 28px;
  }
  .m-box4 p{ 
    font-size: 16px; 
  }
  .m-box4{ 
    background-size: 100%  100%;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 5px 15px 10px 15px; 
  }
  .f-1{  
  }
  .cnx{
    text-align: center;
  }
  footer .f-2 .bb1{
    text-align: center; 
  }
  nav{   
    background-size: auto ;
    height: 60px;
  }
  nav .order-0 .navbar-brand{
    position: absolute;
    top: 0;  
  }
  nav .navbar-brand img{
    height: 40px;

  }
  .navbar-toggler{
    position: absolute;
    top: 0;
    right: 0; 
    margin-top: 10px;
  }
  .navbar-toggler i{
    color: #242c31;
    font-size: 30px;
  }
  .top-x{ 
    margin-top: 15px;
    margin-right: 12%;
  }
  nav .navbar-collapse{   
    margin-top: 45px; 
    z-index: 103;
  }
  .box1{  
    border-radius: 8px; 
  }
  .box2 img{  
    border-radius: 8px;
  }
  .box3 img{
    border-radius: 8px;
  }

  .sl-index li img{
    border-radius: 8px;
  }

}
@media only screen and (min-width: 992px) { /* PC */
  .h-line{
    background-color: #242c31;   
    border-radius: 15px;
    font-family: supermarket;
    text-align: center;
    font-size: 48px;
    color: #fff;  
    padding: 0px 0 0 15px;
  }
  .h-line:after{
    content: "";
    position: absolute;
    border-bottom: 2px solid #fff;
    bottom: 0;
    right: 0;
    margin-bottom: 40px;
    width: 25%;
    margin-right: 60px;
  }
  .h-line:before{
    content: "";
    position: absolute;
    border-bottom: 2px solid #fff;
    bottom: 0;
    left: 0;
    margin-bottom: 40px;
    width: 25%;
    margin-left: 80px;
  }
  .box1 .r1{ 
    padding: 15px 45px 15px 15px;
  }
  .box1 .l1 img{ 
    border-radius: 15px 0 0 15px; 
  }
  .box1 .r1 p{  
    font-size: 22px; 
  }
  .more{ 
    font-size: 20px;
    padding: 4px 12px 0px 12px; 
  }
  .box3 h3{ 
    width: 40%; 
  }
  .box4 h3{ 
    width: 90%; 
  }
  .box4-1{
    width: 95% !important;
  }
  .box4-2{
    width: 95%;
    float: right;
    margin-top: 60px;
  }
  .m-box4 h2{ 
    font-size: 48px;
  }
  .m-box4 p{ 
    font-size: 24px;
    line-height: 25px;
  }
  .m-box4{ 
    background-size: 100% auto;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 15px;
    padding-top:  5px;
  }
  .f-1{ 
    height: 75px;
  }
  footer .f-2 .bb1{
    text-align: right; 
  }
  nav{   
    background-size: auto 110px;
    height: 110px;
  }
  nav .order-0{
    position: absolute;
    margin-left: -8%;
  }
  nav .navbar-brand img{
    height: 74px;
  }
  .top-x{ 
    margin-top: 5px;
    margin-right: 22%;
  }
  nav .navbar-collapse{ 
    height: 50px;
    border-radius: 30px;
    margin-top: 15px;
  }
  .box1{  
    border-radius: 15px; 
  }
  .box2 img{  
    border-radius: 15px;
  }
  .box3 img{
    border-radius: 15px;
  }

  .sl-index li img{
    border-radius: 15px;
  }
  .bbr2:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 60%;
    margin-top: 16%;
    border-right: 2px solid #242c31; 
  }
}

@media only screen and (width: 1024px) { /* PC */
  .m-box4 h2{ 
    font-size: 28px;
  }
  .m-box4 p{ 
    font-size: 16px; 
  }
  .m-box4{ 
    background-size: 100%  100%;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 5px 15px 10px 15px; 
  }
  nav .order-0{
    position: absolute;
    margin-left: -11%;
  }
  nav .order-2{ 
    margin-right: 5px;
    margin-top: 13px;
  }
  nav .container{
    width: 75% !important;
  }
  nav .order-2 input{
    width: 110px !important;
  }
}